*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    margin-top: 20px;
    margin-left: 100px;
}
nav ul{
    float: right;
    margin-right: 100px;
    list-style-type: none;
    display: flex;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
    color: hsl(216, 30%, 68%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}
nav ul li a:hover{
    color:hsl(256, 26%, 20%) ;
}
nav .view{
    color: hsl(256, 26%, 20%);
    font-size: 18px;
    border: 2px solid hsl(256, 26%, 20%);
    padding: 10px 10px;
    
}
nav .view:hover{
    background-color: hsl(256, 26%, 20%);
    color: white;
    
}
.human{
    background-color: hsl(256, 26%, 20%);
    width: 100%;
    height: 70vh;
    margin-top: 30px;
}
.right{
    float: right;
    height: 70vh;
}
.left{
    margin-top: 30vh;
    float: left;
    margin-right: 20px;
}
.man{
    margin-top: 20px;
    margin-left: 20px;
}
#border-top{
    margin-top: 50px;
    border-top: 2px solid rgb(195, 191, 191);
    width: 30%;
}
.man h1{
    font-family: 'DM Serif Display', serif;
    color: white;
    margin-top: 30px;
    font-weight: 400;
    font-size: 40px; 
}
.top{ 
    margin-left: 40px;
    display: flex;
    width: 500px;
}
.man p{
    font-family: 'DM Serif Display', serif;
    color: rgb(195, 191, 191);
    font-size: 14px;
    font-weight: 100;
    width: 400px;
    margin-top: 20px;
}

.man h2{
    color: white;
    font-weight: 200;
    font-size: medium;
    border: 2px solid white;
    font-family: 'Karla', sans-serif;
    margin-top: 30px;
    width: 35%;
    text-align: center;
    padding: 10px 10px;
}
.man h2:hover{
    background-color: white;
    color:hsl(256, 26%, 20%);
    font-weight: 700;
}
.top img{
    margin-left: 50px;
    margin-top: 90px;
    height: 60vh;
}
.boddy{
    margin-top: 200px;
    margin-left: 200px;
}
#bod-top{
    margin-left: 20px;
    border-top: 1px solid rgb(165, 152, 152);
    width: 8%;
}
.boddy h1{
    padding-left: 20px;
    margin-top: 30px;
    color:hsl(256, 26%, 20%);
    font-size: 50px;
}
.content{
    display: flex;
    margin-right: 60px;
}
.content img{
    margin-top: 40px;
    padding-left: 30px;
}
.content h1{
    font-size: 30px;
}
.content p{
    font-size: 16px;
    margin: 10px;
    margin-left: 20px;
    color: rgb(165, 152, 152);
    font-family: 'DM Serif Display', serif;
}
.find{
    margin-top: 70px;
    margin-left: 15%;
    width: 75%;
    height: 20vh;
    background-color:hsl(256, 26%, 20%) ;

}
.find svg{
    position: absolute;
    right: 140px;
    height: 20vh;

}
.more{
    display: flex;
    width: 800px;
}
.more h1{
    color: white;
    margin-top: 20px;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    width: 250px;
    margin-left: 30px;
    font-weight: 400;

}
.more h2{
    color: white;
    font-weight: 200;
    font-size: medium;
    border: 2px solid white;
    font-family: 'Karla', sans-serif;
    margin-top: 40px;
    margin-left: 150px;
    width: 60%;
    text-align: center;
    float: right;
    padding: 10px 10px;
}
.more h2:hover{
    background-color: white;
    color:hsl(256, 26%, 20%);
    font-weight: 700;
}
footer{
    margin-top: 70px;
    width: 100%;
    height: 70vh;
    background-color: hsl(278, 36%, 96%);
}
footer svg{
    position: absolute;
}
footer img{
    margin-top:60px ;
}
.social{
    display: flex;
    position: relative;
}
.logbot{
    border-bottom: 1px solid gray;
    padding: 5px;
    margin-left: 200px;
    margin-right: 100px;
}
.logbot svg{
    position: relative;  
    top: 10px;
    margin: 10px;
    left: 65%;
}
.logbot svg:hover{
    filter: invert(10%) sepia(100%) saturate(6145%) hue-rotate(283deg) brightness(30%) contrast(114%);
}
.footer{
    display: flex;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    justify-content: space-between;
}
.company p{
    color: gray;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}
footer .footer .company ul li{
    margin-top: 20px;
} 

footer .footer .company ul li a{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: hsl(256, 26%, 20%);
}
footer .footer .company ul li a:hover{
    border-bottom: 2px solid hsl(256, 28%, 38%);
}